/* Copyright 2018-2022 the Deno authors. All rights reserved. MIT license. */

body,
html {
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

#Nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 2rem;
}

button#Nav__List {
  width: 1.5rem;
  background: transparent;
}
button#Nav__List:hover {
  background: #666;
}
div#Nav__Title {
  flex: 1;
  line-height: 2rem;
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
}

.PageList__Result__Item {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

#PageList__Search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input#PageList__SearchKey {
  flex: 1;
  padding: 0.25rem;
  font-size: 0.75rem;
}
#PageList__UpdateList {
  width: 4rem;
}

#PageList {
  display: flex;
}

#PageList__Result {
  flex: 1;
  overflow-y: auto;
}
